.add{
    font-family: "Gill Sans", sans-serif;
    font-size: 26px;
    font-weight:bold;
    margin-bottom:20px;
}
.subheading{
    font-family: "Gill Sans", sans-serif;
    font-weight:bold;
    cursor:pointer;
}
.field{
    margin-bottom: 30px !important;
    margin-top:10px !important;
}
.btn{
    width:fit-content;
    justify-content:center;
}
.flexing{
    display:flex;
    align-items: center;
    justify-content: space-between;
}